<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Server=5f51fe2c-48b7-4db8-8c55-a70501137a3a.sqlserver.sequelizer.com;Database=db5f51fe2c48b74db88c55a70501137a3a;User ID=jwufuvqsprwjfmvp;Password=QxFDK4eDEWVSrPpv5MpkhXhCdMLFYwmVpWyxgfVBXsQ8e3z5zDzHpMBZpdz7qEMi;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
       <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<httpHandlers>
      <add path="~/firebase-messaging-sw.js" type="FcmDemo.Model.SwHandler, FcmDemo" verb="GET"/>
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="SwHandler" path="firebase-messaging-sw.js" type="FcmDemo.Model.SwHandler, FcmDemo" verb="GET"/>
       <add name="JpgxHandler" path="*.jpgx" type="WebApplication1.JpgxHandler, WebApplication1" verb="GET"/>
      <add name="JpgxHandlerd" path="*.jpgxd" type="WebApplication1.JpgxdHandler, WebApplication1" verb="GET"/>
    </handlers>
  </system.webServer>
</configuration>
